.collage{
    width: 220px;
    height: 220px;
    border: 2px solid black;
    margin: 30px;
    position: relative; // такая команда ищет следующую команду с position:relative; или position:absolut; и устанавливает тот блок внутри себя

    &__image{
        width: 200px;
        height: 200px;
        border: 1px solid red;
        //position: static; такая позиция у картинок по умолчанию
         position:relative; //расказывает по каким осям сдвигаются картинки для этого можно написать дольше left: top:
         position: absolute; // устанавливает все картинки друг над другом можно им задать отступ top: или left:
         transition: 0.3s;
        
         &:hover{
            z-index: 1; //сделано для появления картинки при наведении на нее мышкой
            transform: scale(1.5) translateX(50px); //увеличивает в массштабе, так же можно написать несколько свойств
         }

            &_first{
             left: 0px;
             top:0px;
            
         }

        &_second{
            left: 20px;
            top: 10px;
           // z-index: 1 ;управляет слоями в position:absolut;
        }

        &_third{
            left:40px;
            top:20px;

        }
    }
}

.modal{

    margin: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 0 0 15px 0 black;
    position: relative;

    &::after{ //создаем псевдоэлемент
        content:"_";// обязательное свойство для псевдо элементов
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: yellow;
        color:black;
        font-weight: bold;
        position: absolute;
        right: 15px;
        top: -10px;
        box-shadow: 0 0 5px 0 grey;
        cursor: pointer; //меняет значек мышки при ее наведении на блок
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &::before{ //создаем псевдоэлемент
        content:"\272A";// обязательное свойство для псевдо элементов
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background:red;
        color: white;
        font-weight: bold;
        position: absolute;
        right: -10px;
        top: -10px;
        box-shadow: 0 0 5px 0 grey;
        cursor: pointer; //меняет значек мышки при ее наведении на блок
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.clip{
    width: 200px;
    height: 100px;
    background-image: url(../images/66575552.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 30px;
    clip-path: polygon(0 0, 100% 50%, 0 100%); //вырезаем из имеющегося дива любую фигуру бывает еще cirkle(r at x y ), allepse()

}

.container{

    width: 90%;
    border: 2px solid red;
    margin: 30px;
    display: flex;
    //   flex-direction: row;                  эти значения
      // justify-content: flex-start;          устанавливаются по умолчанию    
      // align-items: flex-start;              при записи свойства
      // flex-wrap: nowrap;                    display:flex;
    //  justify-content: space-between;   // разгонит всех по краям
    //  padding: 0 20px;    это для отступов
     // box-sizing: border-box;
     flex-direction: row-reverse;  //меняет местами настройки вертикали и горизонтали column
     justify-content: space-around;  //горизонталь
     align-items:flex-end ;             // вертикаль
//ДОМАШКА 768px в колонку выстраиваются во всю ширину
//          1024 в ряд по 2 с отступами
//          больше 1024будут в ряд вчетвером стоять 



    &__item{
        width: 100px;
        height: 100px;
        background-color: gray;
        color: white;
        font-size: 20px;
        font-weight: bold;
      



    }
}
